<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AskMate: {{ question['title'] }}</title>
        <style>
            table, th, td {
            border: 1px solid black;
             }
        </style>
    </head>
    <body>
        <h1>{{ question['title'] }}</h1>
        <table>
            <tr>
                <th>Id</th>
                <th>Views</th>
                <th>Votes</th>
                <th>Question</th>
                <th>Submission Time</th>
                <th>Question Image</th>
            </tr>
            <tr>
                <td>{{ question['id'] }}</td>
                <td>{{ question['view_number'] }}</td>
                <td>
                    <p><a href="/question/{{ question['id'] }}/vote_up"><button>UP_VOTE</button></a></p>
                    <p>{{ question['vote_number'] }}</p>
                    <p><a href="/question/{{ question['id'] }}/vote_down"> <button>DOWN_VOTE</button></a></p>
                </td>
                <td>{{ question['message'] }}</td>
                <td>{{ question['submission_time'] }}</td>
                {% if question['image'] == 'no_image' %}
                    <td>
                    No image uploaded
                    </td>
                {% else %}
                    <td>
                    <img src="/static/uploads/{{ question['image'] }}" width="100" hight="100">
                    </td>
                {% endif %}
            </tr>
        </table>
        <h2>Answers:</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Votes</th>
                <th>Answer</th>
                <th>Submission Time</th>
                <th>Answer Image</th>
            </tr>
            {% for answer in answers %}
            <tr>
                <td>{{ answer['id'] }}</td>
                <td>
                    <p><a href="/answer/{{ answer['id'] }}/vote_up"><button>UP_VOTE</button></a></p>
                    <p>{{ answer['vote_number'] }}</p>
                    <p><a href="/answer/{{ answer['id'] }}/vote_down"><button>DOWN_VOTE</button></a></p>
                </td>
                <td>{{ answer['message'] }}</td>
                <td>{{ answer['submission_time'] }}</td>
                {% if answer['image'] == 'no_image' %}
                <td>
                    No image uploaded
                </td>
                {% else %}
                <td>
                    <img src="/static/uploads/{{ answer['image'] }}" width="100" hight="100">
                </td>
                {% endif %}
                <td>
                    <p><a href="/answer/{{ answer['id'] }}/delete"><button>Delete answer</button></a></p>
                </td>
            </tr>
            {% endfor %}
        </table>
        <p>
            <a href="/question/{{ question['id'] }}/new-answer"><button>Add a new answer</button></a>
            <a href="/question/{{ question['id'] }}/edit"><button>Edit question</button></a>
        </p>
        <p>
            <a href="/list"><button>Back</button></a>
            <a href="/question/{{ question['id'] }}/delete"><button>Delete question</button></a>
        </p>
    </body>
</html>
